In [9]:
#loading libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.svm import SVR
from sklearn.metrics import roc_curve,auc,accuracy_score,classification_report,mean_squared_log_error

In [3]:
#Read Preprocessed train.csv

train = pd.read_csv('preprocessed_train_data.csv')

In [4]:
train.head(2)

,id,budget,popularity,runtime,revenue,month,Action,Adventure,Animation,Comedy,...,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
0,1,14000000,6.575393,93.0,12314651,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,40000000,8.248895,113.0,95149435,8,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [5]:
data_X = train.drop(['revenue'],axis=1)
y = train.revenue

#saving movie id
movie_id = train.id

In [6]:
from sklearn.preprocessing import StandardScaler


X_train,X_test,y_train,y_test = train_test_split(data_X,y,test_size=0.3,random_state=0)

#Creating model of type StandardScaler to normalize train and test dataset
scaler = StandardScaler()

#Compute mean and standard deviation from X_train to be later used for scaling both X_train and X_test
scaler.fit(X_train)

#Perform standarization of X_train
X_train = scaler.transform(X_train)

#Perform standarization of X_train
X_test = scaler.transform(X_test)

ylog = np.log(y_train)

svr_model = SVR(gamma='auto')

svr_model.fit(X_train,ylog)

y_test_hat = svr_model.predict(X_test)

y_test_hat = np.exp(y_test_hat)

In [10]:
print("MSE {0}".format(mean_squared_log_error(y_test_hat,y_test)**0.5))

MSE 2.337784522236749